﻿@model IKnow.Web.Models.AuthorizationViewModel

@{
    ViewBag.Title = "Log In";
}

<section class="landing d-none"></section>
<section class="landing d-none"></section>
<section class="landing align-items-center justify-content-center first">
    <div class="registration-form full">
        <h2>Log In</h2>
        @using (Html.BeginForm("Login", "Auth", null, FormMethod.Post, new {novalidate = true}))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, null, new
                                                     {
                                                         @class = "form-control",
                                                         type = "email",
                                                         placeholder = "Email",
                                                         required = true,
                                                         pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$"
                                                     })

                @if (ViewData.ModelState.IsValidField("Email"))
                {
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                }
                else
                {
                    <div class="invalid-feedback d-block">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                }

            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, null,
                    new
                    {
                        @class = "form-control",
                        type = "password",
                        placeholder = "Password",
                        required = true,
                        minlength = "8"
                    })

                @if (ViewData.ModelState.IsValidField("Password"))
                {
                    <div class="invalid-feedback">
                        Password must be at least 8 characters
                    </div>
                }
                else
                {
                    <div class="invalid-feedback d-block">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                }
            </div>

            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-outline-info btn-block" value="Log In"/>


            <small class="d-block w-100 text-center pt-2">Don't have an account? @Html.ActionLink("Register", "Register", "Auth") </small>
        }
    </div>
</section>