﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iKnow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div id="navbar" class="navbar fixed-top navbar-expand-md">
    <div class="container">
        @Html.ActionLink("iKnow", "Index", "Home", new {area = ""}, new {@class = "navbar-brand mb-0 h1"})

        @using (Html.BeginForm("Index", "Tests", FormMethod.Get, new {@class = "form-inline my-2 my-lg-0", novalidate = true}))
        {
            <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        }
        <div class="form-inline my-2 my-lg-0">

            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Log In", "LogIn", "Auth", new {area = ""}, new {@class = "btn btn-outline-success my-2 my-sm-0"})
            }
            else
            {
                <div class="dropdown">
                    <div class="user-avatar">
                        <div style="background: url(/Content/Images/profile-no-photo.svg)">
                        </div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">@User.Identity.Name</h6>
                        @Html.ActionLink("Profile", "Index", "Profile",
                            new {area = ""}, new {@class = "dropdown-item"})
                        @Html.ActionLink("Log out", "Logout", "Auth",
                            new {area = ""}, new {@class = "dropdown-item"})

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="body-content">
    @RenderBody()
</div>

<div class="loader"></div>

@RenderSection("scripts", false)
@Scripts.Render("~/bundles/custom")
</body>
</html>