﻿@model IKnow.Web.Models.ErrorViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error" + (Model?.Code == null ? "" : $" {Model.Code}");
}

<section id="topSection" class="landing">
    <div class="container d-flex align-items-center">
        <div class="d-flex flex-column">
            <h1>Error @(Model?.Code)</h1>
            <h3>@(Model?.Message ?? "An error occurred while processing your request. Try again later")</h3>
        </div>
    </div>
</section>