﻿@model IKnow.Web.Models.UserViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.RegisterTime)
        @Html.HiddenFor(model => model.ApplicationUserId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.ImageId)
        @Html.HiddenFor(model => model.Role)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="modal-footer">
                <button class="btn modal-cancel" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary modal-submit" type="submit" value="Save" />
            </div>
        </div>
    </div>
}
