﻿@model IEnumerable<IKnow.Web.Models.UserViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role)
    </td>
    <td>
        <div class="float-right">
            @Html.ActionLink("Edit", "Edit", "Profile", new { id = item.Id }, new { data_modal = "", @class = "btn btn-info" })
            &nbsp;
            @Html.ActionLink("Delete", "Delete", "Profile", new { id = item.Id }, new { data_modal = "", @class = "btn btn-danger" })

        </div>
    </td>
</tr>
    }

</table>