﻿@model IKnow.Web.Models.UserViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="profile">
    <a href="#" class="user-avatar user-avatar-large">
        <div style="background: url(/Content/Images/profile-no-photo.svg)">
        </div>
    </a>
    <p>Hello, <b>@Model.Email</b></p>

    @Html.ActionLink("Test me!", "Index", "Tests", null, new {@class = "btn btn-primary mb-2"})

    <h3>Finished tests</h3>
</div>

@{
    Html.RenderPartial("../Tests/_TestsList", Model.Tests);
}