﻿@model IKnow.Web.Models.CategoryViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <dl>
        <dd>
            <div class="form-horizontal">
                <h4>Test user</h4>
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div class="form-actions no-color">
        <div class="modal-footer">
            <button class="btn modal-cancel" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-success modal-submit" type="submit" value="Create"/>
        </div>
    </div>
}