﻿@model IKnow.Web.Models.CategoryViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test user</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="modal-footer">
                <button class="btn modal-cancel" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-danger modal-submit" type="submit" value="Delete"/>
            </div>
        </div>
    }
</div>