﻿@model IEnumerable<IKnow.Web.Models.CategoryViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.ActionLink("Create", "Create", "Category", null, new {data_modal = "", @class = "btn btn-success float-right"})
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="float-right">
                    @Html.ActionLink("Edit", "Edit", "Category", new {id = item.Id}, new {data_modal = "", @class = "btn btn-info"})
                    &nbsp;
                    @Html.ActionLink("Delete", "Delete", "Category", new {id = item.Id}, new {data_modal = "", @class = "btn btn-danger"})

                </div>
            </td>
        </tr>
    }

</table>