﻿@{
    ViewBag.Title = "Category list";
}
@Html.ActionLink("Go back", "Index", "Tests", null, new {@class = "btn btn-warning m-3"})

<div class="container">
    <h3 class="pt-2">Category List</h3>
</div>

<div class="container d-flex justify-content-center">
    <div id="categoryList">
        @{
            Html.RenderAction("List");
        }
    </div>
</div>


<div id="categoryModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div id="categoryModalContent"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        setCategoryHandler();
    });

    function setCategoryHandler() {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click",
            function(e) {
                e.preventDefault();
                $('#categoryModalContent').load(this.href,
                    function() {
                        $('#categoryModal').modal({
                                keyboard: true
                            },
                            'show');
                        bindCategoryForm();
                    });
                return false;
            });
    }

    function bindCategoryForm() {
        $('form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        $('#categoryModal').modal('hide');
                        $('#categoryList').load(result.url, setCategoryHandler);
                    } else {
                        $('#categoryModalContent').html(result);
                        bindCategoryForm();
                    }
                }
            });

            return false;
        });
    }
</script>