﻿@model IKnow.Web.Models.AuthorizationViewModel

@{
    ViewBag.Title = "Home";
}

<section id="topSection" class="landing">
    <div class="container d-flex align-items-center">
        <div class="row">
            <div class="col-md col-sm landing-image">
                <img src="~/Content/Images/landing1.png" alt="knowledge"/>
            </div>

            <div class="col-md col-sm d-flex flex-column justify-content-center landing-text">

                <h1>iKnow</h1>
                <p class="lead">Take knowledge tests online for free</p>

                <ul class="landing-advantages">
                    <li class="lead">Progressive testing schemes</li>
                    <li class="lead">Over a 20 themes</li>
                    <li class="lead">Save your statistics</li>
                    <li class="lead">Educational tests will help in learning</li>
                </ul>

                <p>
                    @Html.ActionLink("Test me!", "Index", "Tests", null, new {@class = "btn btn-primary btn-lg btn-block"})
                </p>
            </div>
        </div>
    </div>
</section>

<section id="countSection" class="landing count-of-tests">
    <div class="container d-flex align-items-center">
        <div class="row">
            <div class="col-md col-sm">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam blandit velit et eros viverra, in tristique ipsum dapibus.
                    Duis dignissim tincidunt urna, sit amet vehicula nisi efficitur non.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                    Praesent et neque eget est efficitur placerat.
                    In vel ultrices augue, vitae auctor felis.
                    Aenean et nisi metus. Aliquam eget maximus dui.
                    Maecenas vulputate iaculis ornare.
                    Pellentesque id diam eget turpis sollicitudin feugiat vitae vel ligula.
                </p>
            </div>
            <div class="col-md col-sm d-flex align-items-center justify-content-center">
                <div id="countWrapper">
                    <h2 id="testCounter" class="text-center pb-0 mb-0" count="999">0</h2>
                    <p class="pb-2 text-center">Tests in base</p>
                    @Html.ActionLink("View tests", "Index", "Tests", null, new {@class = "btn btn-primary btn-lg btn-block"})
                </div>
            </div>
        </div>
    </div>
</section>

<section id="registerSection" class="landing">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md col-sm p-2 d-flex flex-column justify-content-center">
                <h1>Register now...</h1>
                <ul class="landing-advantages lead">
                    <li>Save your test results in your profile</li>
                    <li>Analyze your knowledge</li>
                    <li>Get personal notifications about new tests</li>
                    <li>Extra knowledge test for registered</li>
                </ul>
            </div>
            <div class="col-md col-sm">
                <div class="registration-form">
                    <h3 class="text-center mb-4">Registration</h3>
                    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new {novalidate = true}))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, null, new
                                                                 {
                                                                     @class = "form-control",
                                                                     type = "email",
                                                                     placeholder = "Email",
                                                                     required = true,
                                                                     pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$"
                                                                 })
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, null, new {@class = "form-control", type = "password", placeholder = "Password", required = true, minlength = "8"})
                            @Html.ValidationMessageFor(m => m.Email)
                            <div class="invalid-feedback">
                                Password must be at least 8 characters
                            </div>
                        </div>
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn btn-outline-info btn-block" value="Register"/>
                        <small id="emailHelp" class="form-text text-muted text-center">By registering you agree to the terms and conditions</small>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("bundles/snap-scroll")
    @Scripts.Render("bundles/home")
}