﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body {
    background: #e7f2f6;
    font-family: 'Montserrat', sans-serif;
}

html { font-size: 1rem; }

.loader {
    background: #fff;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}


.lead {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.multiline { white-space: pre-wrap; }

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-backdrop + .modal-backdrop { z-index: 1051; }

#mySubModal { z-index: 1060; }

/* Override default bootstrap navbar height */

.navbar {
    background: #fff;
    border-radius: 0;
    font-size: 1.3rem !important;
    height: 80px;
    margin: 0;
}

.navbar, .navbar-collapse { border: none; }

.navbar-nav > li > a, a.navbar-brand {
    color: #5e5c74 !important;
    font-weight: 500;
}

.navbar-brand {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    line-height: 80px;
    padding: 0 15px;
}


.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        line-height: 27px;
        padding-bottom: 26.5px;
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
    }
}


/*LANDING*/

.landing-content { }

section.landing {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
}

.landing-regestration-benefiets {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.landing:first-child, section.landing.first {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80px, rgba(167, 240, 255, 1) 100%);
    margin-top: -80px;
    padding-top: 80px;
}

section.landing:nth-child(2) {
    background: #4483cf;
    background: linear-gradient(180deg, #29456d 0%, #4483cf 100%);
    color: #fff;
}

section.landing:nth-child(3) {
    background: #29456d;
    background: linear-gradient(180deg, #4483cf 0%, rgb(204, 255, 241) 100%);
}

.landing-image > img {
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .landing-image > img {
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }
}

.landing-advantages {
    color: #333333;
    list-style-image: url(Images/check.svg);
    list-style-position: inside;
    padding: 0;
}

@media (max-width: 992px) {
    #topSection .landing-advantages { display: none; }
}

@media (max-width: 768px) {
    #registerSection { text-align: center; }

    #registerSection .landing-advantages { display: none; }
}

@media (max-width: 768px) {
    .test-me-btn {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .landing-text { text-align: center; }

    /*.row {
        flex-direction: column;
        margin: 0;
    }*/

    .col-sm, col-md {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.registration-form {
    background: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 300px;
    padding: 2.4rem;
    width: 300px;
}

.registration-form.full {
    margin: 0 1rem;
    max-width: 400px;
    padding-bottom: 2rem;
    width: 100%;
}

.body-content { margin-top: 80px; }

.user-avatar {
    cursor: pointer;
    height: 55px;
    position: relative;
    width: 55px;
}

.user-avatar > div {
    background-position: center center;
    background-size: cover;
    border: 3px solid #d9e1e7;
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: auto;
    overflow: hidden;
    width: 50px;
}

.user-avatar.user-avatar-large {
    height: 140px;
    width: 140px;
}

.user-avatar.user-avatar-large > div {
    height: 135px;
    width: 135px;
}

.dropdown:hover > .dropdown-menu { display: block; }

.dropdown-menu {
    left: unset;
    right: 0;
}

.tests-page { }


.test-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    height: 100px;
    margin-bottom: 25px;
    position: relative;
    text-decoration: none !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
}

.test-card:hover {
    box-shadow: 8px 14px 21px rgba(163, 172, 181, 0.23);
    transform: translateY(-3px);
}

.test-card .content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    padding-left: 124px;
    padding-right: 20px;
    width: 100%;
}

.test-card img.preview {
    height: 76px;
    left: 17px;
    position: absolute;
    top: 12px;
}

.test-card span.title {
    color: #5e5d73;
    display: block;
    font-weight: 400;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.test-page {
    background: #6b6fbc;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 70px 0 50px;
}

.test-page .close {
    background-image: url('/Content/Images/close.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 25px;
    opacity: 0.3;
    position: absolute;
    right: 30px;
    top: 100px;
    width: 25px;
    z-index: 4;
}

.test-page img.preview {
    display: block;
    margin: 0 auto;
    max-width: 160px;
}

@media (max-width: 480px) {
    .test-page img.preview { height: 120px; }
}

.question-page {
    background: #6b6fbc;
    color: #fff;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10000;
}

.question-container {
    max-width: 650px;
    padding: 1rem;
    width: 100%;
}

.question-number { padding: 3rem 1rem; }

.question-number h3 { float: left; }

.question-number .total-count { color: #333333; }

.question-form {
    align-items: center;
    display: flex;
}

a.question-answer {
    align-items: center;
    color: #fff;
    display: flex;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
}

a.question-answer:hover { color: #a5a5a5; }

a.question-answer:hover .answer-circle { background-color: #a5a5a5; }

.answer-circle {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: 0;
    margin-right: 30px;
    transition-duration: 0.3s;
    width: 30px;
}

#categoryList {
    max-width: 600px;
    width: 100%;
}

.question-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#question-timer { padding-right: 2rem; }