﻿@model IKnow.Web.Models.QuestionViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete question</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Question", null, FormMethod.Post, new {@class = "formModal"}))
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button class="btn modal-cancel" type="button" data-dismiss="modal">No</button>
            <input class="btn btn-danger modal-submit" type="submit" value="Yes"/>
        </div>
    }

</div>