﻿@model IKnow.Web.Models.QuestionViewModel

<div class="form-horizontal">
    @using (Html.BeginForm("Edit", "Question", null, FormMethod.Post, new {@class = "formModal"}))
    {
        @Html.AntiForgeryToken()

        <h4>Edit question</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TestId)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn modal-cancel" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary modal-submit" type="submit" value="Save"/>
        </div>
    }

    <div id="replaceSubTarget">
        @{ Html.RenderAction("Index", "Answers", new {id = Model.Id}); }
    </div>
</div>