﻿@model IEnumerable<IKnow.Web.Models.QuestionViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.ActionLink("Create", "Create", "Question", new {testId = ViewBag.TestId}, new {data_modal = "", @class = "btn btn-success float-right"})
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <div class="float-right">
                    @Html.ActionLink("Edit", "Edit", "Question", new {id = item.Id}, new {data_modal = "", @class = "btn btn-info"})
                    &nbsp;
                    @Html.ActionLink("Delete", "Delete", "Question", new {id = item.Id}, new {data_modal = "", @class = "btn btn-danger"})

                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(function() {
        setHandler();
    });

    function setHandler() {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click",
            function(e) {
                e.preventDefault();
                $('#myModalContent').load(this.href,
                    function() {
                        $('#myModal').modal({
                                keyboard: true
                            },
                            'show');
                        bindForm(this);
                    });
                return false;
            });
    }

    function bindForm(dialog) {
        $('.formModal', dialog).submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url);
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });

            return false;
        });
    }
</script>