﻿@model IKnow.Web.Models.TestViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn modal-cancel" type="button" data-dismiss="modal">No</button>
            <input class="btn btn-danger modal-submit" type="submit" value="Yes"/>
        </div>
    }
</div>