﻿@using IKnow.Web.Models
@model IEnumerable<IKnow.Web.Models.TestViewModel>

@helper RenderCard(TestViewModel model)
{
    if (model != null)
    {
        <a class="test-card" href="@Url.Action("Open", "Tests", new {model.Id})">
            <span class="content">
                <img class="preview" src="@(model?.Image?.Path)" alt="@(model.Name)" title="">
                <span class="title">@(model.Name)</span>
            </span>
        </a>
    }
}

<div class="container pt-4 pb-4">
    @if (Model?.Count() == 0)
    {
        <h5 class="text-center w-100">
            Unfortunately, we didn't find anything
        </h5>
    }
    @for (var i = 0; i < Model?.Count(); i++)
    {
        <div class="row">
            <div class="col-12 col-sm-6">
                @RenderCard(Model.ElementAtOrDefault(i))
            </div>
            <div class="col-12 col-sm-6">
                @RenderCard(Model.ElementAtOrDefault(++i))
            </div>
        </div>
    }
</div>