﻿@model IKnow.Web.Models.TestViewModel
@{
    ViewBag.Title = "Test editor";
}

@Html.ActionLink("Go back", "Open", "Tests", new {id = Model.Id}, new {@class = "btn btn-warning m-3"})
@Html.ActionLink("Results", "AllResults", "Progress", new {testId = Model.Id}, new {@class = "btn btn-info m-3"})

<div class="container">
    @using (Html.BeginForm("Edit", "Tests", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="p-2">
            <h4>TestViewModel</h4>
            <hr/>


            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}, cols = 80, rows = 10})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>) ViewBag.Categories, "Select category", new {htmlAttributes = new {@class = "form-control"}, cols = 80, rows = 10})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input name="preview" type="file"/>
                    @Html.ValidationMessageFor(model => model.Image.Path, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimeLimit, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeLimit, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.TimeLimit, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HexBackground, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HexBackground, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.HexBackground, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.Views, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Views, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Views, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.CreationTime, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreationTime, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CreationTime, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.EditTime, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EditTime, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.EditTime, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                    @Html.ActionLink("Delete", "Delete", "Tests", new {id = Model.Id}, new {delete_modal = "", @class = "btn btn-danger ml-3"})
                </div>
            </div>

        </div>
    }

    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>

    <div id="mySubModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div id="mySubModalContent"></div>
            </div>
        </div>
    </div>


    <h3 class="p-3">Questions editor</h3>
    <div class="d-flex flex-wrap p-3">
        <div class="col-md-offset-2 col-md-10" id="replacetarget">
            @{ Html.RenderAction("Index", "Question", new {id = Model.Id}); }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        setDeleteHandler();
    });

    function setDeleteHandler() {
        $.ajaxSetup({ cache: false });

        $("a[delete-modal]").on("click",
            function(e) {
                e.preventDefault();
                $('#myModalContent').load(this.href,
                    function() {
                        $('#myModal').modal({
                                keyboard: true
                            },
                            'show');
                        bindDeleteForm(this);
                    });
                return false;
            });
    }

    function bindDeleteForm() {
        $('form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        window.location.replace(result.url);
                    } else {
                        $('#myModalContent').html(result);
                        bindDeleteForm();
                    }
                }
            });

            return false;
        });
    }
</script>