﻿@model IKnow.Web.Models.TestListViewModel

@{
    ViewBag.Title = "Tests";
}

<div class="container">
    <div class="row">
        @if (string.IsNullOrWhiteSpace(Model.Query))
        {
            <h2 class="mt-4">All tests</h2>
        }
        else
        {
            <h2 class="mt-4">All tests that match <i>@Model.Query</i></h2>
        }
    </div>
</div>
@using (Html.BeginForm("Index", "Tests", FormMethod.Get, new {novalidate = true}))
{
    <div class="container d-flex justify-content-between">

        <div class="d-flex">
            @Html.DropDownListFor(m => m.CategoryId, Model.CategoryTypes, new {@class = "custom-select mr-1", id = "CategorySelect"})
            @Html.DropDownListFor(m => m.FilterTypeId, Model.FilterTypes, new {@class = "custom-select", id = "FilterSelect"})
        </div>
        <div class="d-flex">
            @Html.DropDownListFor(m => m.SortTypeId, Model.SortTypes, new {@class = "custom-select", id = "SortSelect"})
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Categories", "Index", "Category", null, new {@class = "btn btn-info ml-1"})
                @Html.ActionLink("Create", "Create", "Tests", new {@class = "btn btn-success ml-1"})
            }
        </div>
    </div>
}

@{
    Html.RenderPartial("_TestsList", Model.Tests);
}

<script>
    $("#FilterSelect, #SortSelect, #CategorySelect").change(function(e) {
        $(this).closest('form').submit();
    });
</script>