﻿@model IKnow.Web.Models.TestViewModel
@{
    ViewBag.Title = "Test";
}

@using (Html.BeginForm("Start", "Progress"))
{
    <div class="test-page" style="background-color: @Model.HexBackground">

        @Html.ActionLink(" ", "Index", null, new {@class = "close"})

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img class="preview" src="@(Model.Image?.Path)" alt="@(Model.Name)" title="" itemprop="image">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center pt-3">
                    <h3>@(Model.Name)</h3>
                </div>
            </div>

            @if (!Model.Finished)
            {
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h4>@(Model.GetAvailableQuestions().Count) question(s)</h4>
                    </div>
                </div>
                if (Model.TimeLimit != 0)
                {
                    <div class="row">
                        <div class="col-12 text-center pt-3">
                            <h5>This test has time limit!</h5>
                            <h6>@(TimeSpan.FromSeconds(Model.TimeLimit).ToString(@"hh\:mm\:ss"))</h6>
                        </div>
                    </div>
                }
                <div class="row justify-content-center align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink(Model.Continue ? "Continue" : "Start test", "Start", "Progress", new {Model.Id}, new {@class = "btn btn-success ml-1", data_modal = ""})
                    }
                    else
                    {
                        @Html.ActionLink("Login to start", "Login", "Auth", new {ReturnUrl = Url.Action("Open", "Tests", new {Model.Id})}, new {@class = "btn btn-primary"})
                    }

                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {Model.Id}, new {@class = "btn btn-info ml-1"})
                    }
                </div>

                <div class="row pt-3">
                    <p class="multiline">@(Model.Description)</p>
                </div>
            }
            else
            {
                <div class="row justify-content-center align-items-center">
                    <h6>You finished this test with result @(Model.TestResult)/@(Model.GetAvailableQuestions().Count)</h6>
                </div>
                if (User.IsInRole("admin"))
                {
                    <div class="row justify-content-center align-items-center">

                        @Html.ActionLink("Edit", "Edit", new {Model.Id}, new {@class = "btn btn-info ml-1"})
                    </div>
                }
            }

        </div>

    </div>
}

<script type="text/javascript">
    $(function() {
        setQuestionHandler();
    });

    function setQuestionHandler() {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click",
            function(e) {
                e.preventDefault();
                $('body').show().load(this.href,
                    function() {
                        bindQuestion();
                    });
                return false;
            });
    }

    function bindQuestion() {
        $('.question-form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    $('body').html(result);
                    bindQuestion();
                }
            });
            return false;
        });
    }
</script>