﻿@model IKnow.Web.Models.AnswerViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnswerViewModel</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCorrect)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Answers", null, FormMethod.Post, new {@class = "formSubModal"}))
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button class="btn submodal-cancel" type="button" data-dismiss="modal">No</button>
            <input class="btn btn-danger submodal-submit" type="submit" value="Yes"/>
        </div>
    }
</div>