﻿@model IKnow.Web.Models.AnswerViewModel

@using (Html.BeginForm("Edit", "Answers", null, FormMethod.Post, new {@class = "formSubModal"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AnswerViewModel</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.QuestionId)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCorrect, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsCorrect)
                    @Html.ValidationMessageFor(model => model.IsCorrect, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn submodal-cancel" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary submodal-submit" type="submit" value="Save"/>
        </div>
    </div>
}