﻿@model IEnumerable<IKnow.Web.Models.AnswerViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
        <th>
            @Html.ActionLink("Create", "Create", "Answers", new {testQuestionId = ViewBag.TestQuestionId}, new {data_submodal = "", @class = "btn btn-success float-right"})
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                <div class="float-right">
                    @Html.ActionLink("Edit", "Edit", "Answers", new {id = item.Id}, new {data_submodal = "", @class = "btn btn-info"})
                    &nbsp;
                    @Html.ActionLink("Delete", "Delete", "Answers", new {id = item.Id}, new {data_submodal = "", @class = "btn btn-danger"})

                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(function() {
        setSubHandler();

    });

    function setSubHandler() {
        $("a[data-submodal]").on("click",
            function(e) {
                e.preventDefault();

                $('#mySubModalContent').load(this.href,
                    function() {
                        $('#mySubModal').modal({
                                keyboard: true
                            },
                            'show');


                        bindSubForm(this);
                        $(".submodal-cancel").on("click",
                            function(e) {
                                $("#mySubModal").modal('toggle');
                            });
                    });

                return false;
            });
    }

    function bindSubForm(dialog) {
        $('.formSubModal', dialog).submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        $('#mySubModal').modal('hide');
                        $('#replaceSubTarget').load(result.url);
                    } else {
                        $('#mySubModalContent').html(result);
                        bindSubForm(dialog);
                    }


                }
            });

            return false;
        });
    }
</script>