﻿@model IKnow.Web.Models.ProgressViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete test progress</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color float-right">
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </div>
    }
</div>