﻿@model IEnumerable<IKnow.Web.Models.ProgressViewModel>
<table class="table w-auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestId)
        </th>
        <th>
            @Html.DisplayName("Correct")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestId)
            </td>
            <td>
                @item.GetCorrectAnswers()
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {progressId = item.Id}, new {@class = "btn btn-info"})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {data_modal = "", @class = "btn btn-danger"})
            </td>
        </tr>
    }
</table>


<script type="text/javascript">
    $(function() {
        setProgressHandler();
    });

    function setProgressHandler() {
        $("a[data-modal]").on("click",
            function(e) {
                e.preventDefault();

                $('#myModalContent').load(this.href,
                    function() {
                        $('#myModal').modal({
                                keyboard: true
                            },
                            'show');
                        bindProgressForm(this);
                    });

                return false;
            });
    }

    function bindProgressForm(dialog) {
        $('form', dialog).submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#progressList').load(result.url);
                    } else {
                        $('#progressList').html(result);
                        bindProgressForm(dialog);
                    }
                    setProgressHandler();
                }
            });

            return false;
        });
    }
</script>