﻿@model IKnow.Web.Models.QuestionViewModel

<div class="question-page" style="background-color: @Model.Test.HexBackground">
    <div class="question-header">

        <div class="question-number">
            <h3 class="m-0">@(Model.AnsweredQuestionsCount)&nbsp;</h3>
            <h3 class="total-count m-0"> / @(Model.QuestionsCount)</h3>
        </div>
        <h4 id="question-timer" class="m-0" end-time="@(Model.EndTime)" now-time="@(Model.NowTime)"></h4>

    </div>

    <div class="d-flex justify-content-center">
        <div class="question-container">
            <h3>
                @(Model.AnsweredQuestionsCount + 1).
                @Html.DisplayFor(model => model.Text)
            </h3>

            @foreach (var answer in Model.GetAvailableAnswers())
            {
                using (Html.BeginForm("Answer", "Progress", FormMethod.Get, new {@class = Model.IsLastQuestion ? "" : "question-form"}))
                {
                    <input type="hidden" name="id" value="@answer.Id"/>
                    <input type="hidden" name="testId" value="@Model.TestId"/>
                    <a class="question-answer" href="javascript:{}" onclick="submitClosest(this);">
                        <div class="answer-circle"></div>
                        @answer.Text
                    </a>
                    <br/>
                }
            }
        </div>

    </div>
</div>

<script type="text/javascript">
    function submitClosest(e) {
        $(e).closest("form").submit();
    }
</script>

<script type="text/javascript">
    $(function() {
        const currentTimer = $("#question-timer");
        const time = parseInt($("#question-timer").attr("end-time"));
        const timeDiff = new Date().getTime() - parseInt($("#question-timer").attr("now-time"));
        if (time === 0) return;

        var countDownDate = new Date(time).getTime();
        const updateTime = () => {
            const now = new Date().getTime() - timeDiff;
            var distance = countDownDate - now;

            var hours = Math.floor((distance) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            currentTimer.text(hours + "h " + minutes + "m " + seconds + "s ");

            if (distance < 0) {
                currentTimer.text("Time is over");
                window.location.replace("@Url.Action("Finish", "Progress", new {testId = Model.TestId})");
            } else
                setTimeout(updateTime, 1000);
        };
        updateTime();
        setTimeout(updateTime, 1000);
    });
</script>