﻿@model IKnow.Web.Models.ProgressViewModel

@{
    ViewBag.Title = "Details";
}
<p class="p-4">
    @Html.ActionLink("Go back", "AllResults", "Progress", new {testId = Model.TestId}, new {@class = "btn btn-warning"})
</p>
<div class="container pt-4">
    <div>
        <h4>Details of test result</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Profile.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TestId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TestId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Test.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Test.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
        </dl>
    </div>
    <table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                Is Correct
            </th>
        </tr>
        @foreach (var i in Model.Answered)
        {
            <tr>
                <td>
                    @(i.Question.Text)
                </td>
                <td>
                    @(i.Answer.Text)
                </td>
                <td>
                    @(i.Answer.IsCorrect)
                </td>
            </tr>
        }
    </table>

</div>