﻿@model IEnumerable<IKnow.Web.Models.ProgressViewModel>

<p class="p-4">
    @Html.ActionLink("Go back", "Edit", "Tests", new {id = ViewBag.TestId}, new {@class = "btn btn-warning"})
</p>
<div id="progressList" class="container d-flex justify-content-center">
    @{
        Html.RenderAction("List");
    }
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>